
{# <pre>
{{dump(schools)}}
</pre> #}
<div class="container" ng-init="thisIsTrue=false">

	<a class="button" ng-click="thisIsTrue=!thisIsTrue">Click here</a>
	<div class="row" ng-class="{'hide' : thisIsTrue == true }">
		{% for school in schools %}
			<div class="col-md-3 {{ school.ID}}">
				<div class="card">
			    <img class= " c-card-head card-img-top" src="" alt="Card image cap" >{{ school.background_school}}
			    <div class="card-block">
			    	<h3 class="c-card-title">{{school.post_title}}</h3>
				</div>
				<ul class="list-group list-group-flush">
			    	<li class=""> <span class="c-important">School type:</span> {{ school.school_type}}</li>
			    	<li class=""><span class="c-important">Accommodation:</span> {{ school.accommodation}}</li>
			    	<li class=""><span class="c-important">Gender:</span> {{ school.gender}}</li>
			    	<li class=""><span class="c-important">Duration:</span> {{ school.duration}}</li>
			    	<li class=""><span class="c-important">School Population:</span> {{ school.population}}</li>
			    	<li class=""><span class="c-important">Focus:</span> {{ school.focus}}</li>
			    	<li class=""><span class="c-important">Price Range:</span> {{ school.price_range}}</li>
			    </ul>
			    <div class="c-card__footer">
   					 <a href="{{school.guid}}" class="card-link">View School</a>
  				</div>
  			</div>
		    </div>
		{% endfor %}
	</div>
</div>


