<div class="container" >
    <div class="panel">
    </div>
<div class="row">
<div class="col-md-10">
    <div class="c-filters js-school-filters">
        <div class="c-filters__filter">
            School type
            <ul class="list-inline" data-filter-group="type">
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".public" >Public
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".private" >Private
                    </a>
                </li>
                <li style="display:none">
                    <a class='btn btn-secondary btn-sm js-reset' data-filter="" >Any
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-filters__filter">
            Acommodation
            <ul class="list-inline" data-filter-group="accommodation">
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".homestay">Homestay
                    </a>
                </li>
                <li class="list-inline-item"> 
                    <a class='btn btn-secondary btn-sm' data-filter=".boarding-school">Boarding School
                    </a>
                </li>
                <li style="display:none">
                    <a class='btn btn-secondary btn-sm js-reset' data-filter="" >Any
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-filters__filterc-filters__filter">
            Gender
            <ul class="list-inline" data-filter-group="gender">
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".only-boys">Only boys
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".only-girls">Only girls
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".mixed">Mixed
                    </a>
                </li>
                <li style="display:none">
                    <a class='btn btn-secondary btn-sm js-reset' data-filter="" >Any
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-filters__filter">
            Duration
            <ul class="list-inline" data-filter-group="duration">
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".year">Year
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class='btn btn-secondary btn-sm' data-filter=".term">Term
                    </a>
                </li>
                <li style="display:none">
                    <a class='btn btn-secondary btn-sm js-reset' data-filter="" >Any
                    </a>
                </li>
            </ul>
        </div>  
    </div>
   </div> 
     <div class="cl-md-2">
            <a class="btn js-reset-filters right">Reset all</a>
    </div>
 </div>   
    <hr>
    
    
{#   <div class="row js-schools">
     {% for school in schools %}
        <div class="col-md-4 {{ school.ID}} js-school {{ school.accommodation|replace(' ', '-')|lower}} {{ school.gender|replace(' ', '-')|lower}} {{ school.duration|replace(' ', '-')|lower}}  {{ school.school_type|replace(' ', '-')|lower}}" >
            <div class="c-article-placeholder">
                <a href="{{school.link}}" class="card-link" title="View school">
                    <img class="c-article-placeholder__header" src="{{ school.featured_image|resize(400, 200)}}" width="100%" alt="Card image cap">
                </a>
                <div class="c-article-placeholder__body">
                    <div class="c-article-placeholder__title">                
                     <a href="{{school.link}}" class="card-link" title="View school">{{school.post_title}}</a>
                    </div>
                    <div class="c-article-placeholder__content-line-long">
                       <ul class="list-group list-group-flush">
                        <li> <span class="c-important">School type:</span> {{ school.school_type}}</li>
                        <li> <span class="c-important">Accommodation:</span> {{ school.accommodation}}</li>
                        <li> <span class="c-important">Gender:</span> {{ school.gender}}</li>
                        <li> <span class="c-important">Duration:</span> {{ school.duration}}</li>
                        <li> <span class="c-important">School Population:</span> {{ school.population}}</li>
                        <li> <span class="c-important">Focus:</span> {{ school.focus}}</li>
                        <li> <span class="c-important">Price Range:</span> {{ school.price_range}}</li>
                        </ul>
                    </div>
                    </div>
                    <div class="c-article-placeholder__footer">
                        <a href="{{school.link}}" title="View school">View School</a>
                    </div>
                
            </div>
        </div>
        {% endfor %}
    </div>  #}


    <div class="row js-schools">
        
        {% for school in schools %}
        <div class="col-md-4 {{ school.ID}} js-school {{ school.accommodation|replace(' ', '-')|lower}} {{ school.gender|replace(' ', '-')|lower}} {{ school.duration|replace(' ', '-')|lower}}  {{ school.school_type|replace(' ', '-')|lower}}" >
            <div class="card">
                <a href="{{school.link}}" class="card-link" title="View school">
                    <img class=" c-card-head card-img-top" src="{{ school.featured_image|resize(300, 200)}}" width="100%" alt="Card image cap">
                </a>
                <div class="card-block">
                    <h3 class="c-card-title">
                        <a href="{{school.link}}" class="card-link" title="View school">{{school.post_title}}</a>
                    </h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class=""> <span class="c-important">School type:</span> {{ school.school_type}}</li>
                    <li class=""><span class="c-important">Accommodation:</span> {{ school.accommodation}}</li>
                    <li class=""><span class="c-important">Gender:</span> {{ school.gender}}</li>
                    <li class=""><span class="c-important">Duration:</span> {{ school.duration}}</li>
                    <li class=""><span class="c-important">School Population:</span> {{ school.population}}</li>
                    <li class=""><span class="c-important">Focus:</span> {{ school.focus}}</li>
                    <li class=""><span class="c-important">Price Range:</span> {{ school.price_range}}</li>
                </ul>
                <div class="c-card__footer">
                    <a href="{{school.link}}" class="card-link" title="View school">View School</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>
